/* General page styling */
body {
    background-color: green;
  }
  
  .titulo {
    color: maroon;
    font-size: 20px;
  }
  
  /* Table styling */
  table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
  }
  
  th, td {
    border: 1px solid black;
    padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: green;
  }
  
  /* Button styling */
  .boton {
    background-color: maroon;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.5s;
  }
  
  .boton:hover {
    background-color: red;
  }
  
   /* Animate the button background color on hover */
   .boton:hover {
    background-color: red;
  }
  
  /* Animation for the table cells */
  .cuadro {
    transition: background-color 0.2s;
  }
  
  /* Animate the table cell background color on hover */
  .cuadro:hover {
    background-color: #ccc;
  }
  
  /* Animation for the table header */
  th {
    transition: background-color 0.5s;
  }
  
  /* Animate the table header background color on hover */
  th:hover {
    background-color: #ff0;
  }