.button_slide {
    color: #FFF;
    border: 2px solid rgb(216, 2, 134);
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    border-radius: 15px;
  }
  
  
  .slide_right:hover {
    box-shadow: inset 400px 0 0 0 #D80286;
  }
  

  #outer {
    width: 364px;
    margin: 50px auto 0 auto;
    text-align: center;
  }

#contenedordePantalla{
    display: flex; /* Para justificarlos en el centro del eje horizontal*/
    height: 250px;

}
.LogoEsime{
margin-left: 0;
height: 250px;
width: 250px;
}

.LogoIPN{
height: 250px;
width: 250px;
margin-left: 1412px ;
}
.cuerpodeLoggeo {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.TitulodeForm {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

.form {
    width: 100%;
    max-width: 641px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input {
    width: 100%;
    height: 50px;
    margin: 0.5rem;
    border: 2px solid black;
    border-radius: 15px;
}



#BotonEscanear{
    width: 300px;/*  Ancho */
    height: 100px;
    margin: 40px;
    border: 3px solid #c00767;
    border-radius: 15px;
}
#BotonNuevoGrupo{
    width: 300px;/*  Ancho */
    height: 100px;
    margin: 40px;
    border: 3px solid #c00767;
    border-radius: 15px;
}
#BotonConsultar{
    width: 300px;/*  Ancho */
    height: 100px;
    margin: 40px;
    border: 3px solid #c00767;
    border-radius: 15px;
}

#ContenedordeBotones{
    display: flex;
    justify-content: center;  /* Para justificarlos en el centro del eje horizontal*/
    align-items: center; /* Para justificarlos en el centro del eje vertical*/

    flex-direction: column;
}

#BotonRestablecer{
    margin-top: 8px;
    font-size: 15px;
    height: 25px;
    width: 15%;
    border-radius: 15px;
}

#letrasdeNuevaContrasena{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}
