.cuerpodeLoggeo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.TitulodeForm {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

.form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input {
    width: 100%;
    height: 30px;
    margin: 0.5rem;
}

#botonIniciar {
    margin-top: 0.5rem; /* Agrega un margen superior al botón para separarlo del campo de contraseña */
}
